<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-10 text-center mx-auto">
      <h1 class="display-4 fw-bold lh-1 mb-3"><%= @article.title %></h1>
    </div>
  </div>
  <div class="row align-items center g-lg-5">
    <div class="col-md-10 mx-auto col-lg-10 article-text">
      <div class="d-flex justify-content-between">
        <span class="timestamp-text">By <%= link_to @article.user.username.upcase, user_path(@article.user), class: "timestamp-link" %></span>
        <% if @article.created_at == @article.updated_at %>
          <span class="timestamp-text">Created <%= time_ago_in_words(@article.created_at) %> ago</span>
        <% else %>
          <span class="timestamp-text">Updated <%= time_ago_in_words(@article.updated_at) %> ago</span>
        <% end %>
      </div>
      <p><%= simple_format(@article.description) %></p>
      <span class="stretch-span"></span>
    </div>
  </div>

  <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
    <div class="row align-items center g-lg-5 btns">
      <div class="text-center mx-auto col-lg-10">
        <%= link_to "Edit", edit_article_path(@article), class: "edit-btn" %>
        <%= button_to "Delete", article_path(@article), method: :delete, class: "del-btn", form: { data: { turbo_confirm: "Are you sure?" }, class: "d-inline" } %>
      </div>
    </div>
  <% end %>

</div>
