<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3">
  <div class="container-fluid">
    <%= link_to "THE BLOG", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "BLOG", articles_path, class: (current_page?(articles_path) ? "nav-link under-link active" : "nav-link under-link") %>
        </li>

        <li class="nav-item dropdown">
              <% if current_page?(categories_path) %>
                <a class="nav-link under-link active dropdown-toggle" id="dropdown-user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% else %>
                <a class="nav-link under-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% end %>
              CATEGORIES
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
              <li><%= link_to "VIEW CATEGORIES", categories_path, class: "nav-link drop-link" %></li>
              <% if logged_in? && current_user.admin? %>
                <li><%= link_to "ADD CATEGORY", new_category_path, class: "nav-link drop-link" %></li>
              <% end %>
            </ul>
          </li>

        <li class="nav-item">
          <%= link_to "WRITERS", users_path, class: (current_page?(users_path) ? "nav-link under-link active" : "nav-link under-link") %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item dropdown">
              <% if current_page?(user_path(current_user)) || current_page?(edit_user_path(current_user)) %>
                <a class="nav-link under-link active dropdown-toggle" id="dropdown-user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% else %>
                <a class="nav-link under-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% end %>
              <%= "(admin) " if current_user.admin? %><%= current_user.username.upcase %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
              <li><%= link_to "VIEW PROFILE", user_path(current_user), class: "nav-link drop-link" %></li>
              <li><%= link_to "EDIT PROFILE", edit_user_path(current_user), class: "nav-link drop-link" %></li>
              <li><%= link_to "NEW ARTICLE", new_article_path, class: "nav-link drop-link" %></li>
              <li><%= button_to "DELETE PROFILE", user_path(current_user), class: "drop-btn", form: { data: { turbo_confirm: "Are you sure?" }, class: "d-inline" }, method: :delete %></li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "LOG OUT", logout_path, class: "nav-link under-link", method: "delete" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "LOG IN", login_path, class: (current_page?(login_path) ? "nav-link under-link active" : "nav-link under-link") %>
          </li>
          <li class="nav-item">
            <%= link_to "SIGN UP", signup_path, class: (current_page?(signup_path) ? "nav-link signup-link active" : "nav-link signup-link") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
